header{
    height: 120px;
    width: 100%;
    background-image: -webkit-linear-gradient(#09022b,
    #7afff8);
}

div>img{
    width: 32%;
    float: left;
    height: 250px;
    margin: 5px;

    border-width: 5px;
    border-color: #7acaff00;
    border-style: solid;
    border-radius: 15px;
}

h1{
    font-size: 40px;
    margin: 15px;
    color: #ec0d0d;
}
