header{
    height: 120px;
    width:94%;
    background-image: -webkit-linear-gradient(#09022b,#7afff8);

    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: #09022b;
    
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}
body{
    
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: #09022b;

    height:100%;
}

div>img{
    width: 32%;
    float: left;
    height: 250px;
    margin: 5px;

    border-width: 5px;
    border-color: #7acaff00;
    border-style: solid;
    border-radius: 15px;
}

h1{
    font-size: 40px;
    margin: 15px;
    color: #ec0d0d;
}

canvas{
    background-image: -webkit-linear-gradient(#09022b,#7afff8);
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: #09022b;
    
}
